/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans";
}

.wrap {
  margin: 0 auto;
  max-width: 1920px;
}
.wrap h2 {
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 12%;
  color: #3B3B3B;
  font-weight: bold;
  margin-left: 16px;
  margin-right: 16px;
}
.wrap h3 {
  font-size: 28px;
  line-height: 42px;
  font-weight: bold;
}
.wrap p {
  font-size: 16px;
  line-height: 24px;
}
.wrap .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 80px;
}
.wrap .header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}
.wrap .header .logo {
  margin: 28px 16.25% 28px 16.25%;
}
.wrap .header .menu {
  display: flex;
  gap: 40px;
}
.wrap .header .menu li a {
  line-height: 24px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  padding: 4px 8px 4px 8px;
}
.wrap .header .menu li a:hover {
  border-image-source: radial-gradient(60% 60%, transparent 0px, transparent 100%, #919191 100%);
  border-image-slice: 1;
  border-width: 1px;
  border-style: solid;
  border-image-outset: 5px;
  font-weight: 600;
}
.wrap .serviceCard {
  width: 1296px;
  height: 306px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 120px;
}
.wrap .serviceCard li {
  position: relative;
  width: 306px;
}
.wrap .serviceCard li .icon {
  z-index: 2;
  position: absolute;
  margin-top: 80px;
  margin-left: 113px;
  margin-bottom: 34px;
}
.wrap .serviceCard li .pic {
  z-index: 1;
  position: absolute;
  border-radius: 5%;
}
.wrap .serviceCard li .card {
  z-index: 2;
  position: absolute;
  color: #ffffff;
  margin-left: 97px;
  top: 184px;
}
.wrap .process {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/service-item-bg.png?raw=true");
  background-size: 100% 100%;
  overflow: hidden;
}
.wrap .process .title h2 {
  color: #ffffff;
}
.wrap .process .lg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}
.wrap .process .lg li {
  display: flex;
  align-items: center;
  width: 655px;
  background: #3B3B3B;
  border-radius: 1%;
  position: relative;
  margin-bottom: 64px;
  border: 1px solid #919191;
}
.wrap .process .lg li .material-symbols-outlined {
  z-index: 999;
  position: absolute;
  color: #5B5B5B;
  font-size: 20px;
  bottom: -40px;
  right: 50%;
}
.wrap .process .lg li .number {
  margin-right: 32px;
  margin-left: 32px;
}
.wrap .process .lg li .number p {
  -webkit-text-stroke: 1px #ffffff;
  line-height: 86.4px;
  font-size: 72px;
  font-family: Tourney;
  font-weight: bold;
}
.wrap .process .lg li .R {
  padding: 37.5px 0 37.5px 0;
}
.wrap .process .lg li .R h3 {
  line-height: 33.6px;
  color: #ffffff;
  margin-bottom: 8px;
}
.wrap .process .lg li .R p {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.wrap .price {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  margin: 0 auto;
  gap: 12px;
}
.wrap .price li {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FAFAFA;
  border-radius: 2%;
  box-shadow: 0px 4px 8px #000;
  padding: 24px 32px 24px 32px;
}
.wrap .price li img {
  margin-right: 8px;
}
.wrap .price li h3 {
  color: #5B5B5B;
}
.wrap .price li .line-long, .wrap .price li .line-small {
  border: 1px solid #C1C1C1;
  width: 41px;
  margin-right: 16px;
  margin-left: 16px;
}
.wrap .price li .line-small {
  width: 24px;
}
.wrap .price li p .money {
  line-height: 48px;
  font-size: 32px;
  color: #1E1E1E;
  font-weight: bold;
}
.wrap .sample {
  background: rgba(250, 250, 250, 0.9803921569);
  padding-bottom: 120px;
}
.wrap .sample .sampleBox {
  width: 1296px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.wrap .sample .sampleBox li img {
  border-radius: 8px;
}
.wrap .sample .sampleBox li h3, .wrap .sample .sampleBox li p {
  margin-left: 16px;
}
.wrap .sample .sampleBox li h3 {
  line-height: 33.6px;
  color: #3B3B3B;
  margin-top: 16px;
  margin-bottom: 8px;
}
.wrap .sample .sampleBox li p {
  color: #919191;
  margin-bottom: 24px;
}
.wrap .sample .sampleBox li .tag {
  display: flex;
}
.wrap .sample .sampleBox li .tag li {
  margin-left: 16px;
  background: #F1F1F1;
  padding: 4px 12px 4px 12px;
  border-radius: 16px;
}
.wrap .QA .QA-lg {
  width: 1076px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 120px;
  gap: 16px;
}
.wrap .QA .QA-lg li {
  width: 526px;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
}
.wrap .QA .QA-lg li h3, .wrap .QA .QA-lg li p {
  margin-left: 24px;
}
.wrap .QA .QA-lg li h3 {
  font-size: 24px;
  line-height: 28.8px;
  color: #3B3B3B;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: bold;
}
.wrap .QA .QA-lg li P {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  margin-right: 37px;
}
.wrap .footer {
  max-width: 1920px;
  height: 424px;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
}
.wrap .footer .footer-L {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 312px;
}
.wrap .footer .footer-L img {
  margin-bottom: 24px;
}
.wrap .footer .footer-L p {
  line-height: 30px;
  font-size: 20px;
}
.wrap .footer .footer-L .mail {
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
  color: #919191;
}
.wrap .footer .footer-R {
  display: flex;
  align-items: center;
  margin-right: 312px;
}
.wrap .footer .footer-R .buttom {
  height: 264px;
  width: 306px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrap .footer .footer-R .buttom li {
  display: flex;
  align-items: center;
}
.wrap .footer .footer-R .buttom li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  color: #3B3B3B;
  width: 306px;
  height: 72px;
  background: white;
  border: 1px solid #C1C1C1;
  border-radius: 8px;
}
.wrap .footer .footer-R .buttom li a .fa-instagram, .wrap .footer .footer-R .buttom li a .fa-list-alt, .wrap .footer .footer-R .buttom li a .fa-facebook-f {
  margin-left: 37px;
  margin-right: 22px;
  font-size: 38px;
  color: #5B5B5B;
}
.wrap .footer .footer-R .buttom li a:hover {
  background: #000;
  color: white;
}
.wrap .footer .footer-R .buttom li a:hover .fa-instagram, .wrap .footer .footer-R .buttom li a:hover .fa-list-alt, .wrap .footer .footer-R .buttom li a:hover .fa-facebook-f {
  color: white;
}

@media (max-width: 1296px) {
  .wrap .serviceCard {
    flex-wrap: wrap;
    width: 636px;
    height: 636px;
  }
  .wrap .price {
    width: 321px;
    flex-wrap: wrap;
  }
  .wrap .price li img {
    width: 30px;
  }
  .wrap .price li h3, .wrap .price li .money {
    font-size: 20px;
    line-height: 30px;
  }
  .wrap .price li .line-long, .wrap .price li .line-small {
    width: 28px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .wrap .price li .line-small {
    width: 24px;
  }
  .wrap .sample {
    margin-bottom: 120px;
  }
  .wrap .sample .sampleBox {
    width: 636px;
    flex-wrap: wrap;
  }
  .wrap .sample .sampleBox li {
    margin-bottom: 20px;
  }
  .wrap .QA .QA-lg {
    width: 526px;
  }
  .wrap .QA .QA-lg li {
    margin-bottom: 10px;
  }
  .wrap .footer {
    height: 538px;
    flex-direction: column;
    align-items: center;
    align-items: center;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true");
  }
  .wrap .footer .footer-L {
    margin-bottom: 40px;
    margin-left: 0;
    align-items: center;
  }
  .wrap .footer .footer-L p, .wrap .footer .footer-L .mail {
    font-size: 16px;
    line-height: 24px;
  }
  .wrap .footer .footer-R {
    margin-right: 0;
  }
  .wrap .footer .footer-R .buttom li a {
    height: 64px;
  }
}
@media (max-width: 636px) {
  .wrap .title img {
    width: 56px;
  }
  .wrap .title h2 {
    font-size: 24px;
    line-height: 28.8px;
  }
  .wrap .serviceCard {
    width: 306px;
    height: 1296px;
  }
  .wrap .process .lg li {
    width: 351px;
    flex-direction: column;
  }
  .wrap .process .lg li .number {
    padding-top: 24px;
  }
  .wrap .process .lg li .number p {
    font-size: 48px;
  }
  .wrap .process .lg li .R {
    padding: 0 24px 48px 24px;
  }
  .wrap .process .lg li .R h3 {
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
  }
  .wrap .sample .sampleBox {
    width: 351px;
  }
  .wrap .sample .sampleBox li img {
    width: 351px;
  }
  .wrap .sample .sampleBox li h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .wrap .sample .sampleBox li .tag li {
    margin-left: 8px;
  }
  .wrap .QA .QA-lg {
    width: 335px;
    gap: 12px;
  }
  .wrap .QA .QA-lg li h3 {
    font-size: 20px;
    line-height: 24px;
  }
}/*# sourceMappingURL=all2.css.map */